@media screen and (min-width: 300px) and (max-width: 768px) {
   .contenedor-superior{
       display: flex;
   }

   .logo-contenedor{
       width: 100%;
    }
    .contenedor-menu-principal{
        display: none;
    }
    .contenedor-titulo-principal {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .subtitulo-central {
        top: 70%;
        left: 50%;
        transform: translate(-60%, -50%);
    }
    .contenedor-titulo-principal img{
        width: 100%;
    }
    .contenedor-seccion-1{
        display: block;
    }

}