@media screen and (min-width: 300px) and (max-width: 768px) {
    .bg-image-index{
        background-image: url(../imagenes/banner-inicio-negro.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bg-image-menu{
        background-image: url(../imagenes/banner-menu.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bg-image-contactos{
        background-image: url(../imagenes/banner-contacto.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bg-image-sobrenosotros{
        background-image: url(../imagenes/banner-sobrenosotros.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bg-image-carrito{
        background-image: url(../imagenes/banner-carrito.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}