* {
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*BARRA DEL MENÚ FLOTANTE QUE SE MUEVE AL SCROLLEAR LA PAGINA*/
/*INICIO BARRA*/
header{
    width: 100%;
    height: 100%;
}
nav.navbar.fixed-top.navbar-expand-lg.scrolling-navbar.contenedor-superior{
    background: #D8BA27;
}
.logotipo-header {
    width: 5rem;
    height: auto;
}
.logo-contenedor{
    margin: 0;
    flex-direction: row;
    justify-content: flex-start;
}
.contenedor-menu-principal{
    justify-content: flex-end;
}
.contenedor-menu-principal ul{
    list-style: none;
    overflow: hidden;
}
.contenedor-menu-principal ul li {
    font-size: 18px;
}
.contenedor-menu-principal ul li a {
    display: inline-flex;
    text-decoration: none;
    color: #000;
}
.contenedor-menu-principal ul li:hover{
    background-color: rgba(0, 0, 0, 0.4);
    transition: 2s;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
.contenedor-menu-principal ul li a:hover{
    color: #D8BA27;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
span.navbar-toggler-icon{
    background-image: url(../imagenes/lista.svg);
    color: #000;
}
/*FIN BARRA*/
/*TITULO PRINCIPAL DE LA PAGINA CON FONDO Y SUBTITULO*/
/*INICIO TITULO PRINCIPAL*/
.bg-image-index{
    background-image: url(../imagenes/banner-inicio-negro.png);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-image-menu{
    background-image: url(../imagenes/banner-menu.png);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-image-contactos{
    background-image: url(../imagenes/banner-contacto.png);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-image-sobrenosotros{
    background-image: url(../imagenes/banner-sobrenosotros.png);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-image-carrito{
    background-image: url(../imagenes/banner-carrito.png);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.mask {
    background-color: rgba(0, 0, 0, 0.7);
}
.contenedor-titulo-principal img{
    width: 100%;
}
h1 {
    font-family: 'Bowlby One SC', cursive;
    color: #D8BA27;
    text-align: center;
    font-size: 5em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
@keyframes aparecer {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
.subtitulo-central {
    font-size: 2em;
    text-align: center;
    color: #D8BA27;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*FIN TITULO PRINCIPAL*/
/*TODO EL CONTENIDO DE LA PAGINA INICIA AQUI*/
body{
    background-color: #000;
}
p {
    font-family: 'Comfortaa';
    color: #D8BA27;
}
/*INICIO PRIMERA SECCION DE CONTENIDO*/
/*SECCION 1*/
/*INICIO SECCION 1*/
.contenedor-texto-logo-seccion-1{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
h2.font-weight-bold.mb-4{
    font-size: 2em;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #D8BA27;
    text-align: center;
}
.contenedor-texto-logo-seccion-1 p{
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.contenedor-boton-seccion-1{
    padding: 10px 5px;
    justify-content: center;
    align-content: center;
}
button.btn.btn-orange.btn-rounded.mx-0.contenedor-boton-seccion-1{
    font-size: 20px;
    padding: 10px 20px;
    background-color: #D8BA27;
    border-radius: 2rem;
    color: #000;
    border: none;
}
.btn.btn-orange.btn-rounded.mx-0.contenedor-boton-seccion-1 a{
    color: #000;
    text-decoration: none;
}
button.btn.btn-orange.btn-rounded.mx-0.contenedor-boton-seccion-1:hover{
    background-color: rgba(0,0,0,0.9);
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
button.btn.btn-orange.btn-rounded.mx-0.contenedor-boton-seccion-1 a:hover{
    color: #D8BA27;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
.redes-sociales-seccion-1 ul li{
    display: inline-block;
    padding: 5px;
}
.redes-sociales-seccion-1 ul li a img{
    width: 30px;
    justify-content: center;
}
.redes-sociales-seccion-1{
    margin-top: 3rem;
}
/*FIN SECCION 1*/
/*SECCION 2*/
/*INICIO DE SECCION 2*/
.contenedor-seccion-2{
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
    padding-bottom: 4%;
}
.contenedor-texto-boton-seccion-2{
    align-content: center;
}
h3.font-weight-bold{
    font-weight: 800;
    color: #D8BA27;
}
p{
    color:#D8BA27;
}
button.btn.btn-orange.btn-rounded.mx-0.contenedor-boton-ver-mas-seccion-2{
    font-size: 20px;
    padding: 10px 20px;
    background-color: #D8BA27;
    border-radius: 2rem;
    border-style: none;
}
.btn.btn-orange.btn-rounded.mx-0.contenedor-boton-ver-mas-seccion-2 a {
    color: #000;
    text-decoration: none;
}
button.btn.btn-orange.btn-rounded.mx-0.contenedor-boton-ver-mas-seccion-2:hover {
    background-color: rgba(0,0,0,0.9);
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
button.btn.btn-orange.btn-rounded.mx-0.contenedor-boton-ver-mas-seccion-2 a:hover{
    color: #D8BA27;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
/*FIN SECCION 2*/
/*SECCION 3*/
/*INICIO SECCION 3*/
h2.font-weight-bold.text-center.grey-text.text-uppercase.small.mb-4{
    text-align: center;
    color: #D8BA27;
}
h3.font-weight-bold.text-center.dark-grey-text.pb-2{
    text-align: center;
    color: #D8BA27;
}
h6.font-weight-bold{
    color: #D8BA27;
    margin: 1rem;
}
small.texto-info{
    color: #D8BA27;
    margin-bottom: 1rem;
}
.contenedor-boton-ver-mas-seccion-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 4%;
}
button.btn.btn-orange.btn-rounded.mx-0 {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #D8BA27;
    border-radius: 2rem;
    border-style: none;
    color: #000;
    margin: 1rem;
}
button.btn.btn-orange.btn-rounded.mx-0:hover{
    color: #D8BA27;
    background-color: #000;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
button.btn.btn-orange.btn-rounded.mx-0 a {
    color: #000;
    text-decoration: none;
}
button.btn.btn-orange.btn-rounded.mx-0:hover{
    background-color: rgba(0,0,0,0.9);
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
button.btn.btn-orange.btn-rounded.mx-0 a:hover{
    color: #D8BA27;
    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
/*FIN SECCION 3*/
/*SECCION 4*/
/*INICIO SECCION 4*/
h2.font-weight-bold{
    color: #D8BA27;
    margin: 2rem;
}
.col-md-6 .text-center p{
    color: #D8BA27;
    margin: 2rem;
}
label{
    color: #D8BA27;
    margin: 1rem 0 1rem 0;
    font-size: 20px;
}
input#form-email, input#form-subject {
    background-color: #D8BA27;
    color: #000;
    border: none;
    border-radius: 2rem;
}
textarea#form-message{
    background-color: #D8BA27;
    color: #000;
    border: none;
}
button.btn.btn-info.btn-sm.ml-0{
    padding: 10px 20px;
    background-color: #D8BA27;
    border-radius: 2rem;
    border-style: none;
    color: #000;
    margin: 1rem;
}
.map-container {
    height: 230px;
    position: relative;
}
.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.contenedor-direccion-mapa-inicio{
    display: inline-block;
}
.contenedor-direccion-mapa-inicio h3{
    color: #D8BA27;
    font-size: 30px;
    padding-bottom: 4%;
    text-align: center;
}
.contenedor-direccion-mapa-inicio p{
    padding-bottom: 4%;
    padding-top: 4%;
}
ul {
    list-style-type: none;
    color: #D8BA27;
}
.lista-menu-principal {
    text-align: center;
}
.lista-menu-principal li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: #D8BA27;
}
/*FOOTER INICIO*/
footer{
    margin:10px;
    padding: 20px;
}
.logo-footer img{
    width: 60px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: translate(130px, 20px);
}
.contenedor-footer{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.contenedor-datos-footer, .contenedor-redes-footer, .contenedor-horarios-footer, .contenedor-menu-footer {
    padding: 10px;
    font-size: 15px;
}
.contenedor-datos-footer p{
    padding: 15px;
    color: #D8BA27;
}
.contenedor-redes-footer ul li{
    padding: 15px;
}
.contenedor-horarios-footer table{
    border: #D8BA27 1px solid;
    border-radius: 10px;
}
.contenedor-horarios-footer tr,th,td{
    padding: 15px;
    color: #D8BA27;
}
.contenedor-menu-footer ul li{
    padding: 15px;
}
.contenedor-copyright p{
    color: #D8BA27;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
/*FIN FOOTER*/
